# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\omrim\Documents\1.Uni\Technion\1.Courses\year 4\Term 1\ML in Healthcare\HW\Repo_1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
